
$app-background-color: #0f0e4a;
$app-background-color: #0f0e4a;
$app-background-color-light-10: lighten($app-background-color, 10%);
$app-background-color-light-30: lighten($app-background-color, 30%);
$app-background-color-light-40: lighten($app-background-color, 40%);
$app-background-color-dark-10: darken($app-background-color, 10%);

$app-font-color: #c4c4c4;
$title-font-color: lighten(#d6d61c, 5%);

$width-card-starship: 80px;
$height-card-starship: 80px;
