
<div class="app-wrapper">
  <div class="header">
    <h1>HB - Star Wars SpaceGular</h1>
  </div>

  <div class="container main-container">
    <button class="btn btn-starwars" (click)="audioOnOff()">
      {{buttonLabel}}
    </button>
    <a class="btn btn-starwars" routerLink="">Menu principal</a>
    <a class="btn btn-starwars" routerLink="/form">Forms</a>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">
    @HB - Star Wars SpaceGular
  </div>
</div>
