
<div class="card float-start my-5 col-5">
  <img src="{{ starship.pathImage }}"
       class="card-img-top p-3"
       alt="{{ starship.name }}"
  >
  <div class="card-body">
    <h5 class="card-title  title-planet">{{ starship.name|uppercase}}</h5>
    <p class="card-text"
       [class.noHitPoint]="starship.hitPoint <= 0"
       [class.hitPoint]="starship.hitPoint > 0"
    >
      {{ starship.hitPoint }}/{{ maxHitPoint }}
    </p>
  </div>
  <div class="d-inline-flex justify-content-around">
    <img *ngFor="let weapon of starship.weapons"
         (click)="pewPewPew(weapon)"
         src="{{weapon.pathImage}}"
         alt="{{weapon.name}}"
         title="{{weapon.name}} : {{weapon.damage}} dégâts"
         class="logo-weapon p-2 mb-2"
    >
  </div>
</div>
