
<div class="col-6 mt-2">
<!-- On déclare un formGroup à partir de l'objet de type FormGroup depuis notre .ts -->
  <form [formGroup]="factionFormGroup">
    <!--
    On utulise plus les alias et ngModel, mais les getter fait depuis le code pour les
    différents champs de notre formulaire, et il faut bien penser à ajouter le formControlName
    -->
    <input [class.is-invalid]="name.invalid && name.touched"
           [name]="'name'"
           [formControlName]="'name'"
           placeholder="Nom"
           class="form-control"
           type="text"
    >
    <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
      <div *ngIf="name.errors.required">
        Name is required.
      </div>
    </div>
    <input [class.is-invalid]="pathImage.invalid && pathImage.touched"
           [name]="'pathImage'"
           [formControlName]="'pathImage'"
           placeholder="URL image"
           class="form-control"
           type="text"
    >
    <div *ngIf="pathImage.invalid && pathImage.touched" class="invalid-feedback">
      <div *ngIf="pathImage.errors.required">
        Le chemin de l'image est obligatoire
      </div>
    </div>
<!-- Le nom du formulaire par le code ne fonctionne pas avec le type="submit" -->
    <button class="btn btn-primary"
            (click)="onSubmit()"
            [disabled]="!factionFormGroup.valid">
      Soumettre
    </button>
    <button class="btn btn-primary"
            (click)="newFaction(); factionFormGroup.reset()"
    >
      Nouvelle faction
    </button>
  </form>
</div>
