<div>
  <div class="d-inline-flex justify-content-around">
    <div class="img-planet text-center faction my-5" *ngFor="let faction of arrayFaction">
      <div class="faction-{{ faction.name }}" (mouseover)="setCssByFaction(faction.color, faction.name)" (mouseout)="refreshCssColor(faction.name)">
        <h3 class="title-planet" id="title-planet-{{ faction.name }}">{{ faction.name }}</h3>
        <img  src="{{ faction.pathImage }}">
      </div>
    </div>
  </div>
</div>
<div>
  <p class="h1 title-planet text-center my-5">Choose your side to fight !</p>
</div>
