
<div class="row"
     [ngStyle]="{
     'background-image':
        'url(' + planet.pathImage + ')',
        'height': '960px',
        'width': '100%',
        'background-size': 'cover'
     }"
>

  <div class="float-start col-3 my-auto">
    <app-card-starship [starship]="playerStarship"
                       [newHitPoint]="playerNewHitPoint"
                       (shootingStarship)="setLastStarshipShooter($event)"
    ></app-card-starship>
  </div>

  <div class="col-4 text-center pew-pew-pew my-auto mx-auto"
       [style.background-color]="iStarshipShooter?.starship.faction.color"
  >
  </div>

  <div class="float-end col-3 my-auto">
    <app-card-starship [starship]="foeStarship"
                       [newHitPoint]="foeNewHitPoint"
                       (shootingStarship)="setLastStarshipShooter($event)"
    ></app-card-starship>
  </div>

</div>
