<div class="d-inline-block col-12" [ngStyle]="{'background-image': 'url(' + planetImage + ')', 'height': '700px', 'width': '100%', 'background-size': 'cover' }">
  <div class="card float-start my-5">
    <img src="{{ battleStarship.pathImage }}" class="card-img-top" alt="{{ battleStarship.name }}">
    <div class="card-body">
      <h5 class="card-title  title-planet">{{ battleStarship.name }}</h5>
      <p class="card-text hitPoint">{{ battleStarship.hitPoint }}/{{ battleStarship.hitPoint }}</p>
      <p class="card-text shield">Shielding : {{ battleStarship.shielding }}</p>
    </div>
      <div class="d-inline-flex justify-content-around"><img *ngFor="let weapons of battleStarship.weapons" (click)="pewPewPew(battleStarship.faction.color)" src="{{weapons.pathImage}}" class="logoWeapon"></div>
  </div>
  <div id="pewLight"></div>
  <div class="card float-end my-5">
    <img src="{{ randomeStarship.pathImage }}" class="card-img-top" alt="{{ randomeStarship.name }}">
    <div class="card-body">
      <h5 class="card-title title-planet">{{ randomeStarship.name }}</h5>
      <p class="card-text hitPoint">{{ randomeStarship.hitPoint }}/{{ randomeStarship.hitPoint }}</p>
      <p class="card-text shield">Shielding : {{ randomeStarship.shielding }}</p>
    </div>
    <div class="d-inline-flex justify-content-around"><img *ngFor="let weapons of randomeStarship.weapons" src="{{weapons.pathImage}}" (click)="pewPewPew(randomeStarship.faction.color)" class="logoWeapon"></div>
  </div>
</div>

