.card-img-top {
  height: 18rem;
  width: 18rem;
}

.card{
  background-color: rgba(83, 83, 83, 0.5);
  border: solid 2px blue;
  width: 18rem;
  text-align: center;
}

.logoWeapon {
    height: 4rem;
    width: 4rem;
    border: whitesmoke solid 1px;
    border-radius: 10%;
  }

.hitPoint {
  border: solid 2px whitesmoke;
  background-color: darkgreen;
  color: whitesmoke;
}
.shield {
  border: solid 2px whitesmoke;
  background-color: #102532;
  color: whitesmoke;
}
#pewLight {
  animation: pew 1s 2;
  position: relative;
}
@keyframes pew {
  0% {
    left: 0;
    top: 0;
  }
  100% {
    left: 200px;
    top: 0;
  }
}
